{% load static wagtailcore_tags %}

<li class="nav-item"><a href="/contact/" class="nav-link" type="button"><i class="fas fa-envelope-square"></i></a></li>

<!--
<li class="nav-link dropdown">
  <i class="fas fa-envelope-square fa-2x" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-expanded="false">
  </i>
  <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton7">

    <li><a class="dropdown-item" href="/contact/">123
{% slugurl 'en/contact' %}
        {#% flat_menu 'footer' max_levels=1 show_menu_heading=False  fall_back_to_default_site_menus=True template="cms/footer.html" %#}
        {#% include 'cms/contact_page.html' %#}
        </a></li>

  </ul>
</li>
-->