{% load static wagtailcore_tags %}

<li class="nav-item dropdown">
    <span class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">

  <i class="fa fa-user">
  </i>
  </span>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5">
                        <li class="nav-link">
                        Hi Guest
                        <!--
                        
                        -->
                    </li>
                    </ul>
</li>