<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu, .dropend {
  top: 0;
  left:100%!important;
  margin-top: -1px;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
</style>

{% load wagtailimages_tags menus_tags %}

{% get_menu "main" as navigation %}
{% company_logo as logo %}


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
         <!--level 1-->
             {% for item in navigation.menu_items.all %}
             {% if item.link_page.get_children %}
                <li class="nav-item dropdown{{item.active_class}}">
                   <a href="{{ item.url }}" id="menu" data-bs-toggle="dropdown" class="nav-link dropdown-toggle" data-bs-display="static">{{ item.title }}</a>

                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="{{ item.url }}"><b>{{ item.title }}</b></a>
            <!--level 2-->
                        {% for sub_item in item.link_page.get_children %}
                        {% if sub_item.link_page.get_children %}
                        <li class="dropdown-submenu">
                            <a href="{{ sub_item.url }}" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">{{ sub_item.title }}</a>
                            <ul class="dropdown-menu">
                                {% if sub_item.link_page.get_children %}
                                <a class="dropdown-item" href="{{ sub_item.url }}"><b>{{ sub_item.title }}</b></a>
                                {% endif %}
            <!--level 3-->
                        {% for subsub_item in sub_item.link_page.get_children %}123
                        {% if subsub_item.link_page.get_children %}
                        <li class="dropdown-submenu">
                            <a href="{{ subsub_item.url }}" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">{{ subsub_item.title }}</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="{{ subsub_item.url }}"><b>{{ subsub_item.title }}</b></a>
            <!--level 4-->
                        {% for subsubsub_item in subsub_item.link_page.get_children %}
                          <li><a class="dropdown-item" href="{{ subsubsub_item.url }}">{{ subsubsub_item.title }}</a></li>
                        {% endfor %}
            <!--end level 4-->
                             </ul>
                            </li>
                            {% else %}
                        <li><a class="dropdown-item" href="{{ subsub_item.url }}">{{ subsub_item.title }}</a></li>
                        {% endif %}
                        {% endfor %}
              <!--end level 3-->

                        </ul>
                        </li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ sub_item.url }}">{{ sub_item.title }}</a></li>
                        {% endif %}
                        {% endfor %}
        <!--end level 2-->
                      </ul>
                    </li>

                {% else %}
              <li class="nav-item {{item.active_class}}"><a class="nav-link" href="{{ item.url }}">{{ item.title }}</a></li>
            {% endif %}
          {% endfor %}
         <!--end level 1-->
            </ul>

        </div>



