
{% load i18n wagtailcore_tags menus_tags wagtailimages_tags wagtailfontawesome %}
{% company_logo as logo %}


<!-- Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
<div class="container-fluid justify-content-between">

<ul class='navbar-nav flex-row components order-sm-2'>


{% include 'menus/components/search.html' %}
{% include 'menus/components/contact.html' %}
{% include 'menus/components/language.html' %}
{% include 'menus/components/user.html' %}

</ul>

<!--Header section, logo title-->
    <a class="navbar-brand ms-3" href="/">{{ logo.name }} {% image logo.logo fill-50x50 %}</a>

{% load menus_tags %}
{# Your template; perhaps base.html #}

{% get_menu "main" as navigation %}

<ul class="navbar-nav">
{% for item in navigation.menu_items.all %}
        <li class="nav-item dropdown{{item.active_class}}">
           
           <a href="{{ item.link }}" id="menu" data-bs-toggle="dropdown" 
           class="nav-link dropdown-toggle" data-bs-display="static">
               {{ item.title }}</a>
  
    <ul class="dropdown-menu">
        {% for menu in item.link_page.get_children %}
        <li class"dropdown-submenu">

           <a href="{{ menu.url }}" data-bs-toggle="dropdown" 
           class="dropdown-item dropdown-toggle">{{ menu.title }}</a>
        </li>
        {% endfor %}
        </ul>
</li>

 

{% endfor %}

</ul>


<!--Utilities section-->

</div>
</nav>

<script defer src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>
