
{% load i18n wagtailcore_tags menus_tags wagtailimages_tags wagtailfontawesome %}
{% company_logo as logo %}


<!-- Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
<div class="container-fluid justify-content-between">

<ul class='navbar-nav flex-row components order-sm-2'>


{% include 'menus/components/search.html' %}
{% include 'menus/components/contact.html' %}
{% include 'menus/components/language.html' %}
{% include 'menus/components/user.html' %}

</ul>

<!--Header section, logo title-->
    <a class="navbar-brand ms-3" href="/">{{ logo.name }} {% image logo.logo fill-50x50 %}</a>
{% include 'menus/fommesnav.html' %}
{% include 'menus/top_menu.html' %}

{% get_site_root as site_root %}

{% for menuitem in menuitems %}
  <li class="presentation {{ menuitem.title|lower|cut:" " }}{% if menuitem.active %} active{% endif %}{% if menuitem.show_dropdown %} has-submenu{% endif %}">
      {% if menuitem.show_dropdown %}
          <a href="{% pageurl menuitem %}" class="allow-toggle">{{ menuitem.title }} <span><a class="caret-custom dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a></span></a>
              {% top_menu_children parent=menuitem %}
              {# Used to display child menu items #}
      {% else %}
          <a href="{% pageurl menuitem %}" role="menuitem">{{ menuitem.title }}</a>
      {% endif %}
  </li>
{% endfor %}
 
<!--Utilities section-->

</div>
</nav>

<script defer src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>
