<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu, .dropend {
  top: 0;
  left:100%!important;
  margin-top: -1px;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
</style>

{% load wagtailimages_tags blog_tags %}

{% get_menu "main" as navigation %}
{% company_logo as logo %}

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">{% image logo.logo fill-50x50 %}{{ logo.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
            {% for item in navigation %}
                {% get_menu item.slug item.page as submenu %}
                <li class="{% if submenu %}dropdown {% endif %}p-2">
                    <div class="dropdown show">
                        <a href="{{ item.url }}"
                                {% if submenu %} class="menuitem dropdown-toggle {% if item.icon %}menuicon{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                {% else %} data-toggle="tooltip" title="{{ item.title }}" class="menuitem"
                                {% endif %}
                        >
                            {% if item.icon %}
                                {% image item.icon fill-30x30 class="image-menu" %}
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        </a>
                        {% if submenu %}
                            <div class="dropdown-menu">
                                {% for subitem in submenu %}
                                    <a href="{{ subitem.url }}" class="dropdown-item menuitem p-2 {% if subitem.icon %}menuicon{% endif %}">
                                        {% if subitem.icon %}
                                            {% image subitem.icon fill-30x30 class="image-menu" %}
                                        {% else %}
                                            {{ subitem.title }}
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>



